@use 'sass:math';

$max-active-bar-height: 17%;

@keyframes grow {
  @each $p in 0%, 20%, 40%, 60%, 80%, 100% {
    #{$p} {
      background: linear-gradient(
        to top,
        var(--purple500),
        rgba(0, 0, 0, 0) #{math.div($p, math.div(100%, $max-active-bar-height))}
      );
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
